body {
	background-image: url('https://i.pinimg.com/originals/9d/23/33/9d2333571045dd84dd8aecc9e1f05a07.png');
	height: 100%;
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

#blogtitle {
	text-align: left;
	font-family: 'Playfair Display', serif;
	color: black;
}

#satire {
	background-color: rgba(255, 255, 255, 80%);
	margin-top: 145px;
	position: center;
	width: 500px;
	border-style: solid;
	border-color: gray;
	border-width: 1px;
	color: gray;
	margin-right: auto;
	margin-left: auto;
	padding: 15px 15px;
}

#name {
	margin: 0;
	line-height: 0;
	font-size: 13px;
}

#essay {
	color: black;
	line-height: 30px;
	text-indent: 20px;
	font-family: 'Times New Roman', serif;
}

#rant {
	color: black;
	line-height: 30px;
	font-family: 'Times New Roman', serif;
}

#navbar {
	text-align: center;
	background-color: #FFB340;
	display: block;
	padding-bottom: 5px;
	border-bottom: solid;
	border-bottom-width: 1px;
	width: 100%;
	position: absolute;
	top: 0;
	left: 0;
}

a {
	text-decoration: none;
	color: black;
	font-family: 'Didact Gothic', sans-serif;
	font-size: 17px;
}

h1 {
	margin-bottom: 0;
	font-size: 50px;
	text-align: center;
	font-family: 'Playfair Display', serif;
}

h2 {
	font-size: 30px;
	text-align: left;
	font-family: 'Playfair Display', serif;
	color: black;
	margin-bottom: 10px;
}

img {
	height: 320px;
	width: 500px;
}

#nomore {
	margin-top: 15px;
	text-align: center;
	font-family: 'Playfair Display', serif;
	color: rgba(255, 255, 255, 80%);
	line-height: 1px;
	font-size: 15px;
}

#bpoint {
	display: inline;
	color: gray;
}

@media (max-width: 960px){
	body {
		width: auto;
		background-image: url('https://i.pinimg.com/736x/c5/e4/9d/c5e49d71d76562e8ceb276aa5a12291c.jpg');
	}
}